@import "compass";
@import "compass/css3";
@import "var";
@import 'reset';

<<<<<<< HEAD
%animate {
    transition: all .3s ease;
}

%clear, .clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

header {
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #000;
        height: 40px;
        clear: both;
    }

    .wr {
        @extend %clear;
        background-color: $grey-8_1;
        border-bottom: 5px solid $red;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            background-color: #000;
            height: 40px;
            clear: both;
        }
    }

    .contacts {
        & {
            float: left;
            margin: 11px 0;
        }

        p {
            float: left;
            color: $grey-6_1;

            span {
                margin-left: 53px;
                color: $grey-6_1;
            }
        }
    }

    .login {
        & {
            float: right;
            margin: 13px 0;
        }

        a {
            float: left;
            color: $grey-6_1;
            position: relative;
            margin-right: 14.5px;
            text-decoration: none;
            font-size: 12px;

            &:last-child {
                margin-right: 0;

                &:before {
                    display: none;
                }
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 12px;
                border-right: 1px solid $grey-6_1;
                top: 1px;
                right: -8px;
            }

            &:hover {
                color: $grey-3;
            }
        }
    }

    .logo {
        & {
            float: left;
            width: 19%;
            margin-top: 36px;
            margin-bottom: 43px;
            margin-right: 143px;
            clear: both;
        }

        &:hover {
            span {
                color: $red;
            }
        }

        strong {
            color: $white;
            float: left;
            font-size: 26px;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-weight: 100;

            span {
                color: $grey-5;
                font-size: 36px;
                text-transform: capitalize;
            }
        }

        p {
            float: left;
            font-size: 12.6px;
            text-transform: capitalize;
            color: $white;
        }
    }

    nav {
        & {
            width: 66.1%;
            margin-top: 65px;
            float: left;
        }

        a {
            & {
                float: left;
                width: 77px;
                margin: 0 17.5px;

                &:first-child {
                    margin-left: 1px;
                }

                &:last-child {
                    margin-right: 0;
                    width: 69px;
                }
            }

            &.active, &:hover {
                p {
                    color: $red;
                }
            }

            p, span {
                font-size: 12px;
                float: left;
            }

            p {
                color: $white;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            span {
                color: $grey-3_1;
            }
        }
    }
=======
.wr {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
>>>>>>> parent of 74fb973... header allmost done
}